@font-face{
  src: url('../fonts/BarlowCondensed-Regular.ttf');
  font-family: 'BarlowCondensed';
  font-style: normal;
  font-weight: normal;
}

@font-face{
  src: url('../fonts/Bellefair-Regular.ttf');
  font-family: 'Bellefair';
  font-style: normal;
  font-weight: normal;
}
