@import "../../../../assets/scss/variables";

.home-container {
  max-height: 100vh;
  display: flex;
  flex-direction: row;

  .home-text {
    margin: 5%;
    margin-left: 10%
  }

  .button-container {
    padding-left: 20%;
    padding-top: 8%;
    
    .explore-button {
      color: $primary !important;
      width: 274px;
      height: 274px;
      border-radius: 50%;
      text-align: center;
      background: $white;
      font-family: "Bellefair";
      letter-spacing: 2px;
      font-size: 32px;
      line-height: 37px;
      border: 1px solid $white;
      transition: box-shadow 500ms;
  
      &:hover {
        box-shadow: 0 0 0 80px #FFFFFF1A;
      }
    }
  }
}
