.main-container {
  background-size: cover;
  height: 100vh;
  width: 100vw;
  -webkit-transition: background-image 0.4s ease-in-out;
  transition: background-image 0.4s ease-in-out;
}

// $breakpoints: (phone: 640px, 
//                tablet: 768px, 
//                desktop: 1024px) !default;

// @include media(">phone", "<tablet") {
// }
// @include media(">tablet", "<950px") {
// }