.navbar {
  background-color: transparent !important;
  padding: 4em 0px 4em 4em;

  .nav-separator {
    height: 1.5px;
    width: 35%;
    margin-left: 100px;
    z-index: 9;
    background: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.25;
  }

  .navbar-nav {
    background: rgba(255, 255, 255, 0.04);
    padding: 0px 100px 0px 80px;
    position: absolute;
    right: 0;
    backdrop-filter: blur(30.5485px);

    .nav-item {
      padding: 0px 20px 0px 20px;

      .nav-link {
        padding-top: 30px;
        padding-bottom: 20px;
        color: #FFFFFF;

        span {
          color: #FFFFFF;
          font-weight: 900;
        }

        &:hover {
          border-bottom: 4px solid #FFFFFF80;
          transition: opacity 0.2s ease;
        }

        &.active {
          border-bottom: 4px solid #FFFFFF;
        }
      }
    }
  }
}