<nav class="navbar navbar-expand-lg navbar-dark bg-dark nav-text">
  <div class="container-fluid">
    <img src="../../../../assets/shared/logo.svg" alt="Girl in a jacket" width="50" height="50">
    <div class="nav-separator" *ngIf="windowClasification === 'desktop'"></div>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
      aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="nav navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item" >
          <a class="nav-link"[routerLinkActive]="['active']" [routerLink]="['/home']"><span>00</span> HOME</a>
        </li>
        <li class="nav-item" >
          <a class="nav-link"[routerLinkActive]="['active']" [routerLink]="['/destination']"><span>01</span> DESTINATION</a>
        </li>
        <li class="nav-item" >
          <a class="nav-link"[routerLinkActive]="['active']" [routerLink]="['/crew']"><span>02</span> CREW</a>
        </li>
        <li class="nav-item" >
          <a class="nav-link"[routerLinkActive]="['active']" [routerLink]="['/technology']"><span>03</span> TECHNOLOGY</a>
        </li>
      </ul>
    </div>
  </div>
</nav>