.crew-main-container {
  margin: 2% 5% 5% 8%;
  display: flex;

  .crew-detail-container {
    height: 300px;
    width: 300px;

    .carousel-indicators {
      margin: 0;
      justify-content: left;
      
      & li {
        width: 15px;
        height: 15px;
        border-radius: 100%;
        display: flex;
        cursor: pointer;
        background-color: white;
        opacity: 0.17;
        margin: 0px 15px;
  
        &.active {
          opacity: 1 !important;
        }
  
        &:hover {
          opacity: 0.5;
        }
      }
    }
    
  }

  .crew-member-image {
    max-width: 550px;
    max-height: 550px;
    position: fixed;
    bottom: 0;
    right: 200px
  }

}
