.crew-main-container {
  margin: 2% 5% 5% 8%;
  display: flex;

  .crew-detail-container {
    height: 400px;
    width: 400px;

    .carousel-indicators {
      margin: 0;
      justify-content: left;
      
      & li {
        width: 15px;
        height: 15px;
        border-radius: 100%;
        display: flex;
        cursor: pointer;
        background-color: white;
        opacity: 0.17;
        margin: 0px 20px;
  
        &.active {
          opacity: 1 !important;
        }
  
        &:hover {
          opacity: 0.5;
        }
      }
    }
    
  }
}
