<div class="destination-detail-container">
  <h2 class="destination-name">{{ selectedDestination.name?.toUpperCase() }}</h2>

  <p class="destination-description">
    {{ selectedDestination.description }}
  </p>

  <hr class="separator">

  <div class="row">
    <div class="subheading2 col-6">
      AVG. DISTANCE
      <div class="subheading1">{{ selectedDestination.distance }}</div>
    </div>
  
    <div class="subheading2 col-6">
      EST. TRAVEL TIME
      <div class="subheading1">{{ selectedDestination.travel }}</div>
    </div>
  </div>
</div>