.destination-detail-container {
  // width: 100%;
  // padding: 10% 10% 10% 20%;
  // min-width: 425px;

  .destination-name {
    -webkit-transition: floatText 0.4s ease-in-out;
    transition: floatText 0.4s ease-in-out;
  }

  .separator {
    height: 3px;
    background: #383B4B;
  }
}